---
title: Apache Accumulo
skiph1fortitle: true
legal_notice: Apache Accumulo, Apache Hadoop, and the Accumulo project logo are trademarks<br>of the [Apache Software Foundation](https://www.apache.org).
---
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron" style="text-align: center">
      <h3>Apache Accumulo&reg; is a sorted, distributed key/value store that provides robust, scalable data storage and retrieval.</h3>
      <a class="btn btn-success" href="downloads/" role="button"><i class="fa fa-download fa-lg"></i> Download</a>
    </div>
    <p id="home-description">Apache Accumulo is a key/value store based on the design of Google's <a href="https://research.google.com/archive/bigtable.html">BigTable</a>. Accumulo stores its data in <a href="https://hadoop.apache.org">Apache Hadoop</a>'s HDFS and uses <a href="https://zookeeper.apache.org">Apache Zookeeper</a> for consensus. While many users interact directly with Accumulo, several <a href="/related-projects">open source projects</a> use Accumulo as their underlying store.</p>

    <h3>Major Features</h3>

    <div class="row">
      <div class="col-md-6"> 
        <h4>Server-side programming</h4>
        <p>Accumulo has a programing meachinism (called Iterators) that can modify key/value pairs at various points in the data management process.</p>
      </div>
      <div class="col-md-6">
        <h4>Cell-based access control</h4>
        <p>Every Accumulo key/value pair has its own security label which limits query results based off user authorizations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"> 
        <h4>Designed to scale</h4>
        <p>Accumulo runs on a cluster using one or more HDFS instances. Nodes can be added or removed as the amount of data stored in Accumulo changes.</p>
      </div>
      <div class="col-md-6">
        <h4>Stable</h4>
        <p>Accumulo has a stable <a href="/latest/apidocs">client API</a> that follows <a href="https://semver.org">semantic versioning</a>. Each Accumulo release goes through <a href="/features/#testing">extensive testing</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">  
        <p id="home-description">To learn more about Accumulo, read the <a href="/{{ site.latest_minor_release }}/accumulo_user_manual.html">user manual</a> and run the Accumulo <a href="https://github.com/apache/accumulo-examples">example code</a>. Also, join our <a href="/mailing_list">mailing list</a> and see how you can <a href="/get_involved">get involved</a>.
      </div>
    </div>
  </div>
  <div class="col-md-4" id="sidebar">
    <div class="row">
      <div class="col-sm-12 panel panel-default">
        <p style="font-size: 24px; margin-bottom: 0px;">Latest News</p>
        {% assign visible_posts = site.posts | where:"draft",false %}
        {% for post in visible_posts limit:site.num_home_posts %}
        <div class="row latest-news-item">
          <div class="col-sm-12" style="margin-bottom: 5px">
           <span style="font-size: 12px; margin-right: 5px;">{{ post.date | date: "%b %Y" }}</span>
           <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
        </div>
        {% endfor %}
        <div id="news-archive-link">
         <p>View all posts in the <a href="{{ site.baseurl }}/news">news archive</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 panel panel-default">
        {% capture social-include %}{% include social.md %}{% endcapture %}{{ social-include | markdownify }}
      </div>
    </div>
    <a id="accumulo-summit-logo" a href="http://accumulosummit.com/"><img alt="Accumulo Summit" class="img-responsive" src="{{ site.baseurl }}/images/accumulo-summit-2017-logo-horizontal.png"></a>
  </div>
</div>
