---
title: Apache Accumulo
skiph1fortitle: true
---
<div class="row">
  <div class="col-md-8">
    <div class="jumbotron" style="text-align: center">
      <h3>Apache Accumulo&reg; is a sorted, distributed key/value store that provides robust, scalable data storage and retrieval.</h3>
      <a style="margin-right: 20px" class="btn btn-success" href="downloads/" role="button"><i class="fa fa-download fa-lg"></i> Download</a>
      <a class="btn btn-primary" href="https://github.com/apache/accumulo" role="button"><i class="fa fa-github fa-lg"></i> GitHub</a>
    </div>
    <p id="home-description">With Apache Accumulo, users can store and manage large data sets across a cluster. Accumulo uses <a href="https://hadoop.apache.org">Apache Hadoop</a>'s HDFS to store its data and <a href="https://zookeeper.apache.org">Apache ZooKeeper</a> for consensus. While many users interact directly with Accumulo, several <a href="/related-projects">open source projects</a> use Accumulo as their underlying store.</p>
    <p id="home-description">To learn more about Accumulo, take the <a href="/tour">Accumulo tour</a>, read the <a href="{{ site.docs_baseurl }}">user manual</a> and run the Accumulo <a href="https://github.com/apache/accumulo-examples">example code</a>. Feel free to <a href="/contact-us">contact us</a> if you have any questions.

    <h3>Major Features</h3>

    <div class="row">
      <div class="col-md-6">
        <h4>Server-side programming</h4>
        <p>Accumulo has a programming mechanism (called <a href="{{ site.docs_baseurl }}/development/iterators">Iterators</a>) that can modify key/value pairs at various points in the data management process.</p>
      </div>
      <div class="col-md-6">
        <h4>Cell-based access control</h4>
        <p>Every Accumulo key/value pair has its own <a href="{{ site.docs_baseurl }}/security/authorizations#security-labels">security label</a> which limits query results based off user authorizations.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Designed to scale</h4>
        <p>Accumulo runs on a cluster using <a href="{{ site.docs_baseurl }}/administration/multivolume">one or more HDFS instances</a>. Nodes can be added or removed as the amount of data stored in Accumulo changes.</p>
      </div>
      <div class="col-md-6">
        <h4>Stable</h4>
        <p>Accumulo has a stable <a href="/latest/apidocs">client API</a> that follows <a href="https://semver.org">semantic versioning</a>. Each Accumulo release goes through <a href="{{ site.docs_baseurl }}/getting-started/features#testing">extensive testing</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4" id="sidebar">
    <div class="row">
      <div class="col-sm-12 panel panel-default">
        <p style="font-size: 24px; margin-bottom: 0px;">Latest News</p>
        {% assign visible_posts = site.posts | where:"draft",false %}
        {% for post in visible_posts limit:site.num_home_posts %}
        <div class="row latest-news-item">
          <div class="col-sm-12" style="margin-bottom: 5px">
           <span style="font-size: 12px; margin-right: 5px;">{{ post.date | date: "%b %Y" }}</span>
           <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
        </div>
        {% endfor %}
        <div id="news-archive-link">
         <p>View all posts in the <a href="{{ site.baseurl }}/news">news archive</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 panel panel-default">
        {% capture social-include %}{% include social.md %}{% endcapture %}{{ social-include | markdownify }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a id="asf-current-event-logo" href="https://www.apache.org/events/current-event.html"><img alt="ASF Current Events" class="img-responsive center-block" src="https://www.apache.org/events/current-event-234x60.png"/></a><br/>
        <a id="accumulo-summit-logo" href="http://accumulosummit.com/"><img alt="Accumulo Summit" class="img-responsive center-block" src="{{ site.baseurl }}/images/accumulo-summit-logo.png"/></a>
      </div>
    </div>
  </div>
</div>
