<!-- creates a styled box with two images side by side -->
<!-- accepts two URLs relative to the project root and two alt text strings -->
<div class="p-3 border rounded d-flex">
    <a href="{{ site.baseurl }}{{ include.image1 }}">
	<img src="{{ site.baseurl }}{{ include.image1 }}" class="img-fluid rounded" alt="{{ include.alt-text1 }}"/>
    </a>
    <a href="{{ site.baseurl }}{{ include.image2 }}">
        <img src="{{ site.baseurl }}{{ include.image2 }}" class="img-fluid rounded" alt="{{ include.alt-text2 }}"/>
    </a>
</div>