<!-- This has a path prefix to make the usage in the compactor process memory blog post more concise -->
<!-- can be adapted to be more generic if needed -->
<div class="p-3 border rounded d-flex">
    <a href="{{ site.baseurl }}{{ include.image1 }}">
	<img src="{{ site.baseurl }}{{ include.image1 }}" class="img-fluid rounded" alt="{{ include.alt-text1 }}"/>
    </a>
    <a href="{{ site.baseurl }}{{ include.image2 }}">
        <img src="{{ site.baseurl }}{{ include.image2 }}" class="img-fluid rounded" alt="{{ include.alt-text2 }}"/>
    </a>
</div>
