<!DOCTYPE html>
<html lang="en">
<head>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap/5.3.3/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/fontawesome/fontawesome-free-6.6.0-web/css/all.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/datatables/bs5/dt-2.0.8/datatables.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/accumulo.css">

<title>{% if page.title_prefix %}{{ page.title_prefix | escape }}{% endif %}{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<script type="text/javascript" src="{{ site.baseurl }}/js/jquery/3.7.1/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap/5.3.3/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/datatables/bs5/dt-2.0.8/datatables.js"></script>
<script type="text/javascript" src="https://www.apachecon.com/event-images/snippet.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/accumulo.js"></script>
</head>
<body style="padding-top: 100px">

  {% include nav.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div id="non-canonical" style="display: none; background-color: #F0E68C; padding-left: 1em;">
          Visit the official site at: <a href="https://accumulo.apache.org">https://accumulo.apache.org</a>
        </div>
        <div id="content">
          {% unless page.skiph1fortitle %}
          <h1 class="title">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
          {% endunless %}
          {{ content }}
        </div>

        {% capture footer-include %}{% include footer.md %}{% endcapture %}{{ footer-include | markdownify }}
      </div>
    </div>
  </div>
</body>
</html>
