---
layout: default
---
<p>{{ page.date | date_to_string }}</p>

{% if page.draft %}
<div class="alert alert-info" style="margin-bottom: 0px;" role="alert">
  <p>These are <strong>draft</strong> release notes for a future release of Accumulo!</p>
  <p>Please view <a class="alert-link" href="{{ site.baseurl }}/release/accumulo-{{ site.latest_release }}/">the latest release notes</a>.</p>
</div>
{% endif %}

{% if page.archived %}
<div class="alert alert-warning" style="margin-bottom: 0px;" role="alert">
  <p>This version of Accumulo has been superceded by a newer version.</p>
  <p>Please check <a class="alert-link" href="{{ site.baseurl }}/release/">our release archive</a> for a newer version.</p>
</div>
{% endif %}

{% if page.archived_critical %}
<div class="alert alert-danger" style="margin-bottom: 0px;" role="alert">
  <p><strong>WARNING:</strong> This version of Accumulo has critical bugs fixed in newer versions.</p>
  <p>Please check <a class="alert-link" href="{{ site.baseurl }}/release/">our release archive</a> for a newer version.</p>
</div>
{% endif %}

{{ content }}

<p><strong>View all releases in the <a href="{{ site.baseurl }}/release/">archive</a></strong></p>
